<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>San Pablo Colleges</h3>
            <ul>
                <p>Our commitment to excellence is reflected in our continuous efforts to offer a contemporary and comprehensive collection of materials, ensuring that students and faculty have access to the resources they need to excel in their studies and research endeavors. Telp. (049) 561-1586</p>
                <li><a href="/info.html">Information</a></li>
                <li><a href="/librarian.html">Librarian</a></li>
            </ul>
        </div>
        
        <div class="footer-section about">
            <h3>About Us</h3>
            <p>Welcome to the San Pablo Colleges Library, a vibrant hub of knowledge and learning, dedicated to supporting students, researchers, and lifelong learners in their academic pursuits.</p>
        </div>
        
        
    </div>
    
    <div class="footer-bottom">
        <hr>
        <p>&copy; 2024 — SPC Library Department. All Rights Reserved.</p>
    </div>
</footer>    
